/*-----------------------------------------------------
----Variables and Mixins
-----------------------------------------------------*/
$writing-width:700px;

.chart {
  max-width:100%;
  overflow:scroll;
}
/*-----------------------------------------------------
----Header
-----------------------------------------------------*/
.site-header{
  background: $background-color;
  padding:0 2.25%;
  border-top:3px solid $yellow;
  border-bottom:2px solid $dark-light-grey;
}
.site-title{
  font-weight:700;
}
.site-nav .page-link{
  color:$black;
  font-weight:300;
}
.site-header-logo img{
  width:40px;
  height:auto;
  margin-right:10px;
  position:relative;
  bottom:3px;
}
/*-----------------------------------------------------
----All
-----------------------------------------------------*/
body {
  background:$background-color;
}
.entry-content {
  p, h1, h2, h3, h4, sub, ul {
    width:$writing-width;
    display:block;
    max-width:95%;
    margin:0 auto;
  }
  ul{
    padding-left:60px;
  }
}
.highlighter-rouge .highlight {
  background:$light-grey;
}
nav.site-nav{
  z-index:1;
}

@media all and (max-width:$on-palm){
  .page-link{
    text-align:left;
  }
}
/*-----------------------------------------------------
----Page
-----------------------------------------------------*/
.flex-layout{
  display:flex;
  flex-wrap: wrap;
}
.main-sidebar{
  padding-top:65px;
}
.sidebar-content {
  border-top:3px solid $yellow;
  background:$light-grey;
  padding:1.5rem;
}
ul.article-list {
  list-style-type: none;
  padding-left:0;
  max-width:700px;
  margin-left:0;
  >li{
    padding:1.75rem 0;
    border-bottom:2px solid $dark-light-grey;
    &:last-of-type{
      border-bottom:none;
    }
  }
  .post-link-title{
    font-size: 1.5rem;
    margin-bottom:0;
    a{
      color: $black;
    }
  }
}
.post-date{
  font-size: 1.1rem;
  font-weight:300;
  display:block;
  margin-bottom:10px;
}
.page-header {
  max-width:100%;
  margin-bottom:2rem;
  width:$writing-width;
}
.page-title {
  font-size:4rem;
  padding:0;
  font-weight:$header-font-weight-bold;
  margin:3rem 0 0 0;
  color:$black;
}
.tagline{
  color:$grey-color;
}
.page-content {
  padding:0;

}
sub{
  color:$grey;
  font-weight:300;
}
/*Home Page*/
.page-content {
  max-width:1000px;
  width:95%;
  margin:0 auto;
}


/*-----------------------------------------------------
----Post
-----------------------------------------------------*/

.post {
  padding-top:3.5rem;
}
.post-title{
  font-size:$post-title-size;
}

.post-content p.caption {
  font-size:0.9rem;
  margin-top:-16px;
  color:$black;
  line-height:1.2;
}
.post-content h2 {
  margin-top:3rem;
}
.post-content a{
  border-bottom:2px solid $black;
  &:hover{
    text-decoration:none;
    background:$light-grey;
    color:$primary-color;
  }
}

.large-image-article{
   .post-meta, .dt-published, p, ol, ul, h1, h2, h3, h4 {
    max-width:$writing-width;
    width: 95%;
    margin:0 auto 1.3rem auto;
  }
  .highlight, pre {
    max-width: $writing-width;
    margin: 0 auto 1.3rem auto;
  }
  ul {
    padding-left:2em;
  }
  img {
    display:block;
    margin: 0 auto;
  }
}
