/*-----------------------------------------------------
----Variables and Mixins
-----------------------------------------------------*/
$writing-width:700px;

.chart {
  max-width:100%;
  overflow:scroll;
}
/*-----------------------------------------------------
----Header
-----------------------------------------------------*/
.site-header{
  background: white;
  padding:0 2.25%;
  //border-bottom:3px solid $primary-color;
}
.site-title{
  font-weight:700;
}
.site-nav .page-link{
  color:$primary-color;
  font-weight:300;
}
/*-----------------------------------------------------
----All
-----------------------------------------------------*/
body {
  background:$background-color;
}
.entry-content {
  p, h1, h2, h3, h4, sub, ul {
    width:$writing-width;
    display:block;
    max-width:95%;
    margin:0 auto;
  }
  ul{
    padding-left:60px;
  }
}
.highlighter-rouge .highlight {
  background:$light-grey;
}
nav.site-nav{
  z-index:1;
}

@media all and (max-width:$on-palm){
  .page-link{
    text-align:left;
  }
}
/*-----------------------------------------------------
----Page
-----------------------------------------------------*/
section.primary-section{
  width:100%;
  padding:50px 0;


  &:nth-of-type(2n){
    background:$light-grey;
  }
  >h1 {
    font-size:6rem;
    line-height:6rem;
    font-family:$h2-font;
    text-align:center;
  }
  >p{
    color:$grey;
    text-align:center;
  }
}
.primary-section-first{
  margin-top:-150px;
  background:$background-color;
  //box-shadow:4px 4px 25px rgba(0,0,0,0.5);
  margin-bottom:50px;
}
ul.article-list {
  list-style-type: none;
  padding-left:0;
  margin:0 auto;

  >li{
    padding:3rem 0;
    border-bottom:2px solid $dark-light-grey;
    &:last-of-type{
      border-bottom:none;
    }
  }
}
.page-header {
  width:100%;
  margin:0;
  height:90vh;
  max-width:100%;
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom:2rem;
  div{
    color:$light-grey;
    text-align:center;
  }
  h1 {
    font-size:7rem;
    border-bottom:3px solid $light-grey;
    padding:0;
  }
  h1, p {
    text-shadow:1px 1px 3px rgba(0,0,0,0.8)
  }
}
.page-content {
  padding:0;

}
sub{
  color:$grey;
  font-weight:300;
}
/*Home Page*/
.home{
  margin-top:0;
  padding-top:0;
}


.home-banner{
  background-size:cover;
  height:100vh;
  width:100%;
  display:flex;
  align-items:center;
  >div{
    width:60%;
    padding:1rem;

  }
  h1{
    font-size:7em;
    color:$background-color;
    font-weight:700;
    text-shadow:2px 2px 4px rgba(0,0,0,0.5);
    line-height:7rem;
  }
  p{
    color:$light-grey;
    font-size:1.5rem;
    text-shadow:2px 2px 4px rgba(0,0,0,0.5);
  }
}
.species-post.post {
  padding-top:0;
  .page-header{
    height:50vh;
  }
  .sc-name{
    color:$yellow;
    font-size:1.5rem;
  }
}


/*-----------------------------------------------------
----Post
-----------------------------------------------------*/

.post {
  padding-top:3.5rem;
}
.post-title {
  font-size:7rem;
  text-align:center;
  @media all and(max-width:600px){
    font-size:4rem;
    word-break: break-word;
  }
}
.post-meta{
  text-align:center;
  font-family:$h2-font;
}
.dt-published {
  color:$background-color;
  font-size:1rem;
  background:$primary-color;
  padding:.35rem;
  border-radius:3px;
}
.post-content p.caption {
  font-size:0.9rem;
  margin-top:-16px;
  color:$black;
  line-height:1.2;
}
.post-content h2 {
  margin-top:3rem;
}
.post-content a{
  border-bottom:2px solid $black;
  &:hover{
    text-decoration:none;
    background:$light-grey;
    color:$primary-color;
  }
}

.large-image-article{
  .post-title, .post-meta, .dt-published, p, ol, ul, h1, h2, h3, h4 {
    max-width:$writing-width;
    width: 95%;
    margin:0 auto 1.3rem auto;
  }
  .highlight, pre {
    max-width: $writing-width;
    margin: 0 auto 1.3rem auto;
  }
  ul {
    padding-left:2em;
  }
  img {
    display:block;
    margin: 0 auto;
  }
}
