@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Rubik&display=swap');
$h-font:"Alpha Slab One", sans-serif;
$h2-font:"Alpha Slab One", sans-serif;
$b-font: "Rubik", sans-serif;
$font-size:1.15rem;
$post-title-size:5rem;
$body-font-weight:300;
$header-font-weight:700;
$header-font-weight-bold:700;
body{
  font-family:$h-font;
  font-size:$font-size;
  font-weight:$header-font-weight;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  color:$black;
}
.post-content a{
  colo: $link-color;
  &:hover{
    text-decoration:none;
    color:$primary-color;
    background-color: $off-white;
    text-decoration:underline;
  }
}

.site-header, .home-banner h1, .post-title{
  font-family:$h-font;
}
h1, .post-content h1 {
  font-size:2.5rem;
  font-weight:$header-font-weight;
  font-family:$h-font;
}

h2, .post-content h2{
  font-size:2.5rem;
  font-weight:$header-font-weight;
  margin:1.3rem auto 0.1rem auto;
  font-family:$h-font;
}
h3, .post-content h3 {
  font-family:$h-font;
  font-size:1.3rem;
  margin:1rem auto 0.1rem auto;
  line-height:1.2;
  margin-bottom:0.5rem;
  font-weight:bold;
  color:$black;
}
p, ul, ol {
  font-size:$font-size;
  margin-bottom:1.3rem;
  line-height:2rem;
  font-weight:$body-font-weight;
  color: $black;
}
p, li{
  font-family:$b-font;
}

pre{
  background:#fdfdfd;
  border-radius:0;
  border:none;
  border-left:5px solid $secondary-color;
  code{
    background-color:inherit;
  }

}
ul {
  font-size:$font-size;
  font-weight:$body-font-weight;
}

blockquote {
    color: $black;
    background: $light-grey;
    border-left: 4px solid $pink;
    padding-top: 2em;
    padding-bottom:2em;
}
