@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700');

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');
$h-font:"PT Serif", serif;
$h2-font:"Source Sans Pro", sans-serif;
$b-font: "PT serif", serif;
$font-size:1.1rem;
body{
  font-family:$h-font;
  font-size:18px;
  font-weight:400;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-rendering: optimizeLegibility;

}
.site-header, .home-banner h1, .post-title{
  font-family:"Source Sans Pro", sans-serif;
}
h1, .post-content h1 {
  font-size:2.5rem;
  font-weight:700;
  font-family:$h-font;
}
h2, .post-content h2{
  font-size:2.5rem;
  font-weight:700;
  margin:1.3rem auto 0.1rem auto;
  font-family:$h-font;
}
h3, .post-content h3 {
  font-family:$b-font;
  font-size:1.3rem;
  margin:1rem auto 0.1rem auto;
  line-height:1.2;
  margin-bottom:0.5rem;
  font-weight:bold;
  color:$black;
}
p {
  font-size:$font-size;
  font-family:$b-font;
  margin-bottom:1.3rem;
  line-height:1.8rem;
}
pre{
  background:#fdfdfd;
  border-radius:0;
  border:none;
  border-left:5px solid $secondary-color;
  code{
    background-color:inherit;
  }

}
ul {
  font-size:$font-size;
}

blockquote {
    color: $black;
    background: $light-grey;
    border-left: 4px solid $pink;
    padding-top: 2em;
    padding-bottom:2em;
}
