---
layout: page
title: Species
tagline: Helpful information on species I work with.
permalink: /species/
image: /assets/images/banners/species_banner.jpg
color: aaffb7
---
<div index="species-timeline">

</div>

<h2>T and E Species</h2>
<p>Species listed under the Endangered Species Act</p>

<ul>
{% for species in site.pages %}
  {% if species.type=='tande'%}
    <li><a href="{{ species.url | relative_url}}">{{ species.title }}</a></li>
  {% endif %}
{% endfor%}
</ul>

<h2>BLM Sensitive Species</h2>

<h4>Birds</h4>
<ul>
{% for birds in site.pages %}
  {% if birds.type=='birds'%}
    <li><a href="{{birds.url | relative_url}}">{{ birds.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>

<h4>Mammals</h4>
<ul>
{% for mammals in site.pages %}
  {% if mammals.type=='mammals'%}
    <li><a href="{{mammals.url | relative_url}}">{{ mammals.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>

<h4>Fish</h4>
<ul>
{% for fish in site.pages %}
  {% if fish.type=='fish'%}
    <li><a href="{{fish.url | relative_url}}">{{ fish.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>

<h4>Herps</h4>
<ul>
{% for herps in site.pages %}
  {% if herps.type=='herps'%}
    <li><a href="{{herps.url | relative_url}}">{{ herps.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>

<h4>Insects</h4>
<ul>
{% for insects in site.pages %}
  {% if insects.type=='insects'%}
    <li><a href="{{insects.url | relative_url}}">{{ insects.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>

<h2>Big Game</h2>
<ul>
{% for biggame in site.pages %}
  {% if biggame.type=='biggame'%}
    <li><a href="{{biggame.url | relative_url}}">{{ biggame.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>
