---
layout: page
title: Important Docs
tagline: Because sometimes googleing just won't do.
permalink: /files/
image: /assets/images/banners/important_banner.jpg
color: 14ffcc
---

<h2>Commonly Used</h2>
<ul>
  <li> <a href="wildlife/wildlife_timing.pdf">Wildlife Time periods</a> </li>
</ul>

<h2>Sage-grouse</h2>
<ul>
  <li> <a href="sage_grouse/HAF.pdf">Sage-Grouse Habitat Assessment Framework: A Multiscale Assessment Tool</a> </li>
</ul>


<h2>Consultation</h2>
<ul>
{% for esa in site.pages %}
  {% if esa.type=='esa'%}
    <li><a href="{{esa.url | relative_url}}">{{ esa.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>
