<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}
  <section class="home-banner">
    <h2>Welcome to <br> Schmidty Notes</h2>
    <p>Notes by and for Mike Schmidt.  Some edited…some not.  On this site you will find notes, snippets and links about R stats, Web Development, Data Visualization, and anything else I find interesting.  Want to work on a project? Shoot me an email at: <span class="is-blue">mike@schmidtyworks.com</span> </p>

  </section>
  <main class="home page-content" aria-label="Content">
    <div class="flex-layout">
      <div class="left-column-main">
        <h1 class="post-title">Latest Notes</h1>
        <section>
          <ul class="article-list">
            {% assign count = 0 %}
            {% for post in site.posts %}
            {% assign count = count | plus:1 %}
            <li>
              <h1 class="post-link-title"><a href="{{ post.url | relative_url}}">{{ post.title }}</a></h1>
              <sub class="post-date">{{ post.date | date: '%B %d, %Y' }}</sub>
              {{ post.excerpt }}
            </li>
            {% if count == 6 %}{% break %}
            {% endif %}


            {% endfor %}
          </ul>
          <a href="/blog-roll/" class="post-navigation">All Posts →</a>
        </section>
      </div>
      <aside class="main-sidebar">
        <div class="sidebar-content">
          <p>Notes by and for Mike Schmidt, a wildlife biologist for the BLM who works on side projects on <a href="http://schmidtyworks.com">Web Development</a>, <a href="https://beta.observablehq.com/@mschmidty">Data Visualisation</a>, and r stats.</p>
        </div>
        <div class="link-icons">
          <ul>
            <li>Twitter: <a href="https://twitter.com/mikejschmidty">@mikejschmidty</a></li>
            <li>Codepen: <a href="https://codepen.io/mschmidty/">@mschmidty</a></li>
            <li>Observable: <a href="https://beta.observablehq.com/@mschmidty">@mschmidty</a></li>
            <li>Github: <a href="https://github.com/mschmidty">@mschmidty</a></li>
          </ul>
        </div>
      </aside>

    </div>

  </main>

  {%- include footer.html -%}

</body>

</html>
