<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="home page-content" aria-label="Content">

      <section class="primary-section primary-section-first">
        <ul class="article-list">
          {% assign count = 0 %}
          {% for post in site.posts %}
          {% assign count = count | plus:1 %}
          <li>
            <h1 class="post-link-title"><a href="{{ post.url | relative_url}}">{{ post.title }}</a></h1>
            <sub class="post-date">{{ post.date | date: '%B %d, %Y' }}</sub>
            {{ post.excerpt }}
          </li>
          {% if count == 6 %}{% break %}
          {% endif %}


          {% endfor %}
        </ul>
      </section>
      <section class="home-info">

      </section>
  </main>

  {%- include footer.html -%}

</body>

</html>
