---
layout: default
---

<article class="species-post post h-entry " itemscope itemtype="http://schema.org/BlogPosting">

  <header class="page-header" style="background:url({{ page.image | prepend: site.baseurl }}) no-repeat center center scroll; background-size:cover;">
    <div>
      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
      <p class="post-meta">
        <span class="sc-name">{{page.scientific_name | escape}}</span>
        {%- if page.author -%}
          • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
        {%- endif -%}</p>
    </div>

  </header>

  <div class="post-content e-content wrapper" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
